<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chattree.chattree">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name="ChatTreeApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- LOGIN ACTIVITY -->
        <activity
                android:name=".login.LoginActivity"
                android:configChanges="orientation|keyboardHidden"
                android:label="@string/app_name"
                android:noHistory="true"
                android:screenOrientation="portrait">
        </activity>

        <!-- HOME ACTIVITY -->
        <activity
                android:name=".home.HomeActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- PROFILE ACTIVITY -->
        <activity android:name=".profile.ProfileActivity"/>

        <!-- CONVERSATION ACTIVITY -->
        <activity
                android:name=".home.conversation.ConversationActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:parentActivityName=".home.HomeActivity">
        </activity>
    </application>

</manifest>